body {
   background-color: pink;
}

.comic {
   background: url("../shoujotest/Screenshot 2025-08-04 174258.png");
   min-width: 1000px;
   background-size: 1450px;
   background-repeat: no-repeat;
   background-attachment: scroll;
   align-content: center;
   margin-left: 10%;
   margin-top: -10px;
   filter: drop-shadow(0px 0px 10px white)
}

.social-links {
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 40px;
   transform: rotate(-32deg);
   margin-top: 42%;
   margin-left: 20%;
   text-align: center;
   line-height: 60px;
   letter-spacing: 2px;
}

.social-link {
   transition: transform .5s ease;
   text-decoration: underline dotted;
   transform-origin: 50% 50%;
   color: hotpink;
   display: inline-block;
}

.social-link:hover {
   transform: translateY(-20%);
   filter: drop-shadow(0px 0px 10px yellow) blur(1px);
}

.letmescroll {
   height: 900px;
}